/*------------------------------------*\
    TEXT COLOR PALETTE
\*------------------------------------*/


/* white light */

.has-white-light-background-color {
    background-color: var(--WHITE-LIGHT);
}

.has-white-light-color {
    color: var(--WHITE-LIGHT) !important;
}


/* white dark */

.has-white-dark-background-color {
    background-color: var(--WHITE-DARK);
}

.has-white-dark-color {
    color: var(--WHITE-DARK);
}


/* yellow light */

.has-yellow-light-background-color {
    background-color: var(--YELLOW-LIGHT);
}

.has-yellow-light-color {
    color: var(--YELLOW-LIGHT);
}

.has-heading-yellow-light-color h1,
.has-heading-yellow-light-color h2,
.has-heading-yellow-light-color h3 {
    color: var(--YELLOW-LIGHT);
}


/* yellow dark */

.has-yellow-dark-background-color {
    background-color: var(--YELLOW-DARK);
}

.has-yellow-dark-color {
    color: var(--YELLOW-DARK);
}

.has-heading-yellow-dark-color h1,
.has-heading-yellow-dark-color h2,
.has-heading-yellow-dark-color h3 {
    color: var(--YELLOW-DARK);
}


/* aqua light */

.has-aqua-light-background-color {
    background-color: var(--AQUA-LIGHT);
}

.has-aqua-light-color {
    color: var(--AQUA-LIGHT);
}

.has-heading-aqua-light-color h1,
.has-heading-aqua-light-color h2,
.has-heading-aqua-light-color h3 {
    color: var(--AQUA-LIGHT) !important;
}


/* aqua dark */

.has-aqua-dark-background-color {
    background-color: var(--AQUA-DARK);
}

.has-aqua-dark-color {
    color: var(--AQUA-DARK);
}

.has-heading-aqua-dark-color h1,
.has-heading-aqua-dark-color h2,
.has-heading-aqua-dark-color h3 {
    color: var(--AQUA-DARK) !important;
}


/* pink light */

.has-pink-light-background-color {
    background-color: var(--PINK-LIGHT);
}

.has-pink-light-color {
    color: var(--PINK-LIGHT);
}

.has-heading-pink-light-color h1,
.has-heading-pink-light-color h2,
.has-heading-pink-light-color h3 {
    color: var(--PINK-LIGHT) !important;
}


/* pink dark */

.has-pink-dark-background-color {
    background-color: var(--PINK-DARK);
}

.has-pink-dark-color {
    color: var(--PINK-DARK);
}

.has-heading-pink-dark-color h1,
.has-heading-pink-dark-color h2,
.has-heading-pink-dark-color h3 {
    color: var(--PINK-DARK) !important;
}


/* blue light */

.has-blue-light-background-color {
    background-color: var(--BLUE-LIGHT);
}

.has-blue-light-color {
    color: var(--BLUE-LIGHT);
}

.has-heading-blue-light-color h1,
.has-heading-blue-light-color h2,
.has-heading-blue-light-color h3 {
    color: var(--BLUE-LIGHT) !important;
}


/* blue dark */

.has-blue-dark-background-color {
    background-color: var(--BLUE-DARK);
}

.has-blue-dark-color {
    color: var(--BLUE-DARK);
}

.has-heading-blue-dark-color h1,
.has-heading-blue-dark-color h2,
.has-heading-blue-dark-color h3 {
    color: var(--BLUE-DARK) !important;
}


/* text black */

.has-text-black-background-color {
    background-color: var(--TEXT-BLACK);
}

.has-text-black-color {
    color: var(--TEXT-BLACK);
}